*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}
body{
  display: block;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.layout{
  display: flex;
  flex: auto;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.with-sidebar{
  flex-direction: row;
}
.sidebar {
  position: relative;
  transition: all 0.2s;
  line-height: 1.2em;
  flex: 0 0 20%;
  max-width: 200px;
  min-width: 100px;
  padding: 1em;
  border-right: 3px solid #3DADF2;
}
.sidebar ul{
  list-style: none;
}
.sidebar ul li{
  margin: 0.5em 0;
}
.sidebar ul li a{
  text-decoration: none;
  color: #3DADF2;
  transition: color 0.2s;
}
.sidebar ul li a:hover{
  color: #0424D9;
}
.content{
  flex: auto;
  overflow-x: hidden;
}
.landing-section{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-transform: capitalize;
  background-image: url(https://online.lacouturiere.mx/images/AdobeStock_249853809.jpg);
  background-size: cover;
  background-position: top right;
}
.landing-section h1{
  background: #020F59;
  color: #FFF;
  padding: 1em;
}
.landing-section a{
  background: #000;
  color: #FFF;
  padding: 0.5em 2em;
  text-decoration: none;
}

@media (min-width:768px){
  .landing-section h1{
    background: #020F59;
    color: #FFF;
    padding: 1em 3em;
  } 
}

.courses-index ul{
  margin: 1em;
  list-style: none;
}
.courses-index ul li{
  border-bottom: 2px solid #03178C;
}
.courses-index ul li a{
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: #03178C;
  transition: all .2s;
}
.courses-index ul li a:hover{
  background: #03178C;
  color: #FFF;
}

.courses-detail{
  margin: 1em;
}
.courses-detail h1{
  color: #020F59;
}
.courses-detail h2{
  color: #03178C;
}
.courses-detail video{
  width: 100%;
}
.courses-detail ol{
  margin: 0.5em;
}

@media (min-width:768px){
  .courses-detail{
    margin: 2em;
  }
  .courses-detail ol{
    margin: 1em;
  }
}